<!Doctype html>
<html>
	<head>
		<meta charset = "utf-8" />
    	<meta name="viewport" content="width=device-width, initial-scale=1">
    	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css">
	</head>
	<body>
	<application ng-app="my-app" ng-controller="MainController">
		<div class="container">
		<div class="row">
		<div class="col-md-6">
            <input type="text" ng-model="organiser" />
            <button ng-click="filter()">Search</button>
            <button ng-click="discard()">Discard</button><br>
            <button ng-click="addEvent()">Add Event</button><br>
        </div>
		</div>
		<div ng-repeat="event in filterEvents" ng-if="filterEvents.length">
		<div class="container-fluid">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-11">
				<div ng-click="getEvent(event.id)">
					<h3 style="margin-left: 10px">{{event.id}}: {{event.title}}</h3>
				</div>
				<br>
				<span>&emsp;<p ng-if="event.organiser.length" style="margin-left: 10px"><b><i>by {{event.organiser}}</i></b></p></span>
			<br>
			</div>
		</div>
		</div>
		<hr>
		</div>
		<div ng-repeat="event in events" ng-if="events.length">
		<div class="container-fluid">
		<div class="row">
			<div class="col-md-1"></div>
			<div class="col-md-11">
				<div ng-click="getEvent(event.id)">
					<h3 style="margin-left: 10px">{{event.id}}: {{event.title}}</h3>
				</div>
				<br>
				<span>&emsp;<p ng-if="event.organiser.length" style="margin-left: 10px"><b><i>by {{event.organiser}}</i></b></p></span>
			<br>
			</div>
		</div>
		</div>
		<hr>
		</div>
		<button ng-click="next()">Next</button>
		<button ng-click="back()" ng-if="data>10" style="text-right">Back</button>
	</application>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular-sanitize.js"></script>
	<script src="get.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	</body>
</html>
