
.fot {
	background-color: #263238;
	color: #f4f4f4;
    float:left;
    width:109%;
    margin-left:-5%;
}

.green {
	background-color: #fff;
}

.fots {
	background-color: #263238;
	color: #000;
	margin-top: 60px;
    float:left;
    width:109%;
    margin-left:-5%;
}

.fots h4 {
	color: #5a5a5a;
}

.fots li {
	color: #777;
}

.down {
	margin-top: 20px;
  	font-size: 20px;
  	font-family: Franklin Gothic Bold;
  	color: #83838F;
}

.nav {
	background-color: #004D40;
	color: #ffffff;
}

.navs {
	margin-top: 60px;
    float:left;
    width:109%;
    margin-left:-5%;
}

.fot a {
  	font-size: 11px;
	font-weight: bold;
  	padding: 14px 10px;
  	color: #fff;
  	font-size: 20px;
  	font-family: 'Alegreya Sans', sans-serif;
    font-weight:100;
    -webkit-font-smoothing:antialiased;
}

.fots a {
  	font-size: 11px;
	font-weight: bold;
  	padding: 14px 10px;
  	color: #000;
  	font-size: 20px;
  	font-family: 'Alegreya Sans', sans-serif;
    font-weight:100;
    -webkit-font-smoothing:antialiased;
}

.nav a {
  	font-size: 11px;
	font-weight: bold;
  	padding: 14px 10px;
  	text-transform: uppercase;
  	font-family: 'Alegreya Sans', sans-serif;
    font-weight:100;
    -webkit-font-smoothing:antialiased;
}

.navs a {

  	font-family: 'Alegreya Sans', sans-serif;
    font-weight:100;
    -webkit-font-smoothing:antialiased;
}

.in li {
  	display: inline;
}

html, body {
	height:100%;
	margin:10px;
}

details {
	margin:auto 1em;
}

summary {
	cursor:pointer; 
	margin:auto -1em;
}
			
.title {
	font-weight:bold; 
	font-size:1.2em; 
	text-transform:capitalize;
}