<!Doctype html>
<html>
	<head>
		<meta charset = "utf-8" />
	</head>
	<body>
		<application ng-app="my-app" ng-controller="PostController">
			<h3>Enter Details</h3>
			<br>
			<form novalidate>
    			Title:<br>
    			<input type="text" class="form-control" ng-model="user.title"><br>
    			Organiser:<br>
    			<input type="text" class="form-control" ng-model="user.organiser"><br>
    			Custom Property (Optional):<br>
    			<input type="text" class="form-control" ng-model="user.myCustomProperty"><br>
    			price:<br>
    			<input type="number" class="form-control" ng-model="user.price"><br>
    			Date:<br>
    			<input type="text" class="form-control" ng-model="user.date"><br>
    			<br><br>
    			<button class="btn btn-primary"  ng-click="postEvent()">Submit</button>
			</form>
		</application>
		<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
		<script src="post.js"></script>
	</body>
</html>
